/* (A) BIG SCREEN - 2 COLUMNS LAYOUT */
#content { display: flex; }
#article, #sidebar { padding: 10px; }
#article {
  width: 80%;
  background: white;
  padding: 10px;
}
#sidebar {
  width: 20%;
  padding: 40px 10px 10px 20px;
}
 
/* (B) SMALL SCREEN - 1 COLUMN LAYOUT */
@media screen AND (max-width:768px) {
  #content { flex-wrap: wrap; }
  #article, #sidebar { width: 100%; }
}

#page {
  max-width: 1200px;
  margin: auto;
  background: white;
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
    line-height: 1.6;
    color: #333;
}

#header {
    background-color: darkslategrey
}

a.nav-item:link {
    color: white;
}
a.nav-item:visited {
    color: white;
}
a.nav-item:hover {
    color: crimson;
}
a.nav-item:active {
    color: crimson;
}

li.nav-item {
    display: inline;
    margin: 0 10px;
    color: white;
    }

ul.navbar-nav {
    display: flex;
    list-style-type:none;
    margin: 0;
    padding: 10px;
}

li.tag-item {
    display: inline;
    margin-right: 10px;
}

ul.tag-list {
    display: flex;
    list-style-type:none;
    margin: 0;
    padding: 0;
}

li.category-item {
    display: inline;
    margin-right: 10px;
}

ul.category-list {
    display: flex;
    list-style-type:none;
    margin: 0;
    padding: 0;
}

.sidebar-title {
	font-family: 'Raleway', sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	color: darkslategrey;
	line-height: 1;
	padding-top: 2em;
}

li.list-unstyled {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

ol.list-unstyled {
    list-style-type:none;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

ul.list-unstyled {
    list-style-type:none;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

ul {
  list-style-type: square;
}

#title {
	font-family: 'Raleway', sans-serif;
	font-size: 5em;
	color: white;
	line-height: 1;
	padding: 30px;
}

h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 3em;
	color: darkslategrey;
}

h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 2.5em;
	color: darkslategrey;
}

h3 {
	font-family: 'Raleway', sans-serif;
	font-size: 2em;
	color: darkslategrey;
}

h4 {
	font-family: 'Raleway', sans-serif;
	font-size: 1.5em;
	color: darkslategrey;
}

a:link {
  color: darkcyan;
  text-decoration: none;
}

a:visited {
  color: darkcyan;
  text-decoration: none;
}

a:hover {
  color: crimson;
}

a:active {
  color: crimson;
}

img {
    max-width: 100%;
    height: auto;
 }

.codehilite > * {
    line-height: 1.4;
    margin-left: 20px;
}

blockquote {
    border-left-color: darkslategrey;
    border-left-style: solid;
    border-left-width: 6px;
    padding-left: 20px;
    margin-bottom: 1rem;
    background-color: #b0d0d0;
}

.notebox {
    border-left-color: dodgerblue;
    border-left-style: solid;
    border-left-width: 6px;
    padding-left: 20px;
    margin-bottom: 1rem;
    background-color: #81c1ff;
}

.tipbox {
    border-left-color: gold;
    border-left-style: solid;
    border-left-width: 6px;
    padding-left: 20px;
    margin-bottom: 1rem;
    background-color: #ffeb81;
}

.warnbox {
    border-left-color: crimson;
    border-left-style: solid;
    border-left-width: 6px;
    padding-left: 20px;
    margin-bottom: 1rem;
    background-color: #f58ba0;
}

table {
    margin-bottom: 2em;
    margin-top: 1em;
    border: none;
}

th {
    background-color: #b0d0d0;
    border: none;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 0;
    margin-right: 0;
    vertical-align: top;
    text-align: left;
    display: table-cell;
    font-weight: bold;
}

td {
    padding-left: 1em;
    padding-right: 1em;
    border: none;
    vertical-align: top;
    text-align: left;
    display: table-cell;
}

.toc {
    list-style-type: none;
    padding: 0;
}

.chapter-toc {
    font-weight: bold;
    font-size: 1.2em;
}

.chapter-toc-current {
    font-weight: bold;
    color: black
    font-size: 1.2em;
}

.page-toc {
}

.page-toc-current {
    color: black
}
