/* (A) BIG SCREEN - 2 COLUMNS LAYOUT */
#content { display: flex; }
#article, #sidebar { padding: 10px; }
#article {
  width: 80%;
  background: white;
  padding: 10px;
}
#sidebar {
  width: 20%;
  padding: 40px 10px 10px 20px;
}
 
/* (B) SMALL SCREEN - 1 COLUMN LAYOUT */
@media screen AND (max-width:768px) {
  #content { flex-wrap: wrap; }
  #article, #sidebar { width: 100%; }
}

#page {
  max-width: 1200px;
  margin: auto;
  background: white;
}

body {
	font-family: 'Georgia', serif;
	font-size: 1.2em;
    line-height: 1.6;
    color: #333;
}

#header {
    background-color: darkslategrey
}

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (header.png). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/header.png");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

a.nav-item:link {
    color: white;
}
a.nav-item:visited {
    color: white;
}
a.nav-item:hover {
    color: crimson;
}
a.nav-item:active {
    color: crimson;
}

li.nav-item {
    display: inline;
    margin: 0 10px;
    color: white;
    }

ul.navbar-nav {
	font-family: 'Helvetica', sans-serif;
    display: flex;
    list-style-type:none;
    margin: 0;
    padding: 10px;
}

li.tag-item {
    display: inline;
    margin-right: 10px;
}

ul.tag-list {
    display: flex;
    list-style-type:none;
    margin: 0;
    padding: 0;
}

li.category-item {
    display: inline;
    margin-right: 10px;
}

ul.category-list {
    display: flex;
    list-style-type:none;
    margin: 0;
    padding: 0;
}

.after-page-details {
    margin-bottom: 3em;
}

.sidebar-title {
	font-family: 'Helvetica', sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	color: darkslategrey;
	line-height: 1;
	padding-top: 2em;
}

li.list-unstyled {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

ol.list-unstyled {
    list-style-type:none;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

ul.list-unstyled {
    list-style-type:none;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

ul {
  list-style-type: square;
}

#title {
	font-family: 'Helvetica', sans-serif;
	font-size: 5em;
	color: white;
	line-height: 1;
	padding: 30px;
}

h1 {
	font-family: 'Helvetica', sans-serif;
	font-size: 3em;
	color: darkslategrey;
	margin-bottom: 1em;
	line-height: 1.2;
}

h2 {
	font-family: 'Helvetica', sans-serif;
	font-size: 2.5em;
	color: darkslategrey;
	margin-bottom: 0;
}

h3 {
	font-family: 'Helvetica', sans-serif;
	font-size: 2em;
	color: darkslategrey;
	margin-bottom: 0;
}

h4 {
	font-family: 'Helvetica', sans-serif;
	font-size: 1.5em;
	color: darkslategrey;
	margin-bottom: 0;
}

a:link {
  color: darkcyan;
  text-decoration: none;
}

a:visited {
  color: darkcyan;
  text-decoration: none;
}

a:hover {
  color: crimson;
}

a:active {
  color: crimson;
}

img {
    max-width: 100%;
    height: auto;
 }

.codehilite > * {
    line-height: 1.4;
    margin-left: 20px;
}

blockquote {
    border-left-color: darkslategrey;
    border-left-style: solid;
    border-left-width: 6px;
    padding-left: 20px;
    margin-bottom: 1rem;
    background-color: #b0d0d0;
}

.notebox {
    border-left-color: dodgerblue;
    border-left-style: solid;
    border-left-width: 6px;
    padding-left: 20px;
    margin-bottom: 1rem;
    background-color: #81c1ff;
}

.tipbox {
    border-left-color: gold;
    border-left-style: solid;
    border-left-width: 6px;
    padding-left: 20px;
    margin-bottom: 1rem;
    background-color: #ffeb81;
}

.warnbox {
    border-left-color: crimson;
    border-left-style: solid;
    border-left-width: 6px;
    padding-left: 20px;
    margin-bottom: 1rem;
    background-color: #f58ba0;
}

table {
    margin-bottom: 2em;
    margin-top: 1em;
    border: none;
}

th {
    background-color: #b0d0d0;
    border: none;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 0;
    margin-right: 0;
    vertical-align: top;
    text-align: left;
    display: table-cell;
    font-weight: bold;
}

td {
    padding-left: 1em;
    padding-right: 1em;
    border: none;
    vertical-align: top;
    text-align: left;
    display: table-cell;
}

.toc-title {
	font-family: 'Helvetica', sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	line-height: 1;
	padding-top: 2em;
}

.toc-title-current {
	font-family: 'Helvetica', sans-serif;
	font-size: 1.5em;
	font-weight: bold;
    color: black;
	line-height: 1;
	padding-top: 2em;
}

.toc {
    list-style-type: none;
    padding: 0;
}

.chapter-toc {
	font-family: 'Helvetica', sans-serif;
    font-weight: bold;
}

.chapter-toc-current {
	font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    color: black;
}

.page-toc {
    padding-left: 1em;
}

.page-toc-current {
    padding-left: 1em;
    color: black;
}

.tagcloud0 {
    font-size: 1.2em;
}

.tagcloud1 {
    font-size: 1.2em;
}

.tagcloud2 {
    font-size: 1.2em;
}
.tagcloud3 {
    font-size: 1.35em;
}

.tagcloud4 {
    font-size: 1.48em;
}

.tagcloud5 {
    font-size: 1.62em;
}

.tagcloud6 {
    font-size: 1.76em;
}

.tagcloud7 {
    font-size: 1.91em;
}

.tagcloud8 {
    font-size: 2.05em;
}

.tagcloud9 {
    font-size: 2.12em;
}
